@model IEnumerable<PersonnelHolidaysTracking.Core.DTOs.DepartmentDto>

@{
    ViewData["Title"] = "Index";
}

 

<p>
    <a asp-action="Create">Create New Department</a>
</p>
<h3 style="text-align:center; margin:auto">Department List</h3>
<a class="btn btn-primary mt-4" asp-action="Create">Add New Department </a>
<hr />
<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th> DepartmanId</th>
            <th>Department Name</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><strong class="text-secondary"> @item.DepartmentName</strong></td>

                <td><strong class="text-secondary"> @item.DepartmentId</strong></td>

                <td><a asp-action="Update" asp-route-id="@item.DepartmentId" class="btn btn-warning">Update Department</a> </td>
                <td><a asp-action="Delete" asp-route-id="@item.DepartmentId" class="btn btn-danger"> Delete Department</a></td>
            </tr>
        }
    </tbody>
</table>
